/*
vase button hamishe bayad yek style kolli taarif konim
va baghie halatash ro bar asase oon halate kolli ijad
konim. mesle in kar. manstyle oon button asli ro gozashtam
va halate icon-only ro behesh ezafe kardam.
code kheyli sade tar o tamiz tar mishe

contraste matn o backgrounde button ro negah konid.
ba sefid kheyli khana tare.

berim soraghe theme
*/

button
  display flex
  justify-content center
  align-items center
  border 1px solid transparent
  border-radius 5px
  background var(--primaryBlueColor)
  color: var(--textButtonColor)
  padding 1rem 2rem
  margin-top 20px
  transition transition2
  box-shadow var(--box-shadow)
  gap 5px

  &.icon-only
    width 34px
    height: 34px
    padding: 0
    border-radius 40px

  &:hover
    background var(--darkBlueColor)

  .icon
    width 12px
    height: 12px