.switch-wrapper
  display inline-block

  input
    display:none

  .switch
    display: block
    width 60px
    height 34px
    position relative
    cursor: pointer
    border-radius: 34px
    transition: .4s
    background-color: var(--lightBlueColor)

    .thumb
      position: absolute
      top: 2px
      left: 2px
      width: 30px
      height: 30px
      transition: .4s
      background: var(--background-thumb-switch)
      border-radius 50%

      .icon
        position: absolute
        top: 50%
        left: 50%
        width: 18px
        height: 18px
        transition: opacity .2s ease-in-out
        transform: translate(-50%, -50%)

      .sun
        opacity: 1

      .moon
        opacity: 0


  input:checked
    + .switch
      background-color var(--primaryColor)

      .thumb
        // width switch - 2px az rast - width thumb
        left: 60px - 2px - 30px

        .sun
          opacity: 0

        .moon
          opacity: 1
