.switch-wrapper
  display inline-block

  input
    display:none

  .switch
    display: block
    width 60px
    height 34px
    position relative
    cursor: pointer
    border-radius: 34px
    transition: .4s
    background-color: var(--lightBlueColor)

    .thumb
      position: absolute
      top: 2px
      left: 2px
      width: 30px
      height: 30px
      transition: .4s
      background: var(--background-thumb-switch)
      border-radius 50%

      .icon
        position: absolute
        top: 50%
        left: 50%
        width: 18px
        height: 18px
        transition: opacity .2s ease-in-out
        transform: translate(-50%, -50%)

      .sun
        opacity: 1

      .moon
        opacity: 0


  input:checked
    + .switch
      background-color var(--primaryBlueColor)

      .thumb
        // width switch - 2px az rast - width thumb
        left: 60px - 2px - 30px // ino stylus mohasebe mikone

        .sun
          opacity: 0

        .moon
          opacity: 1

/*
 okaye hame chiz?
are taghriban, fghat dos daram bishtar rosh tahlil konam mashala dasteton tonde toye code zadan
   na hichi . on pluse vasat ro khodam rangesho sefid mikonam ko yad begiram.
   mikhastam beram alan soraghe button ha ke ye tozihi dar morede oona ham bedam. chize ajib o gharibi nadare
  ok, faght khastam begam onja ke link ha ro monategh kardin be span, onja chera gozashtin span?
man width tag a ro kam kardam ya hala li. chon fek kardam dorost nist ta ye mahdodei link bashe engar eshteba kardm kamelan.

sakhtare dorostesh ine: aside > nav > ul > li > a > (icon + text)
hala baraye inke moratab bashe text ro bordam  tooye span.
va intori bayad bashe ke kolle icon va text va fazaye khalie samte rast o chapeshoon bayad
link beshan. pas lazeme ke az tarighe flex ina kolle arze mojood ro por konan. va
text o icon har do tooye tage a bashan.ok
*/
