@font-face {
    src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
    font-family: Atkinson_Hyperlegible;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


@font-face {
    src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
    font-family: Atkinson_Hyperlegible;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}



//@font-face {
//    src: url("../fonts/montserrat/Montserrat-Light.ttf");
//    font-family: Montserrat;
//    font-style: normal;
//    font-weight: 300;
//    font-display: swap;
//}
//
//
//@font-face {
//    src: url('../fonts/Robotot/Roboto-Regular.ttf');
//    font-family: Roboto;
//    font-style: normal;
//    font-weight: 400;
//    font-display: swap;
//}
//
//@font-face {
//    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
//    font-family: Montserrat;
//    font-style: normal;
//    font-weight: 500;
//    font-display: swap;
//}
//
//@font-face {
//    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
//    font-family: Montserrat;
//    font-style: normal;
//    font-weight: 700;
//    font-display: swap;
//}
//
//
//@font-face {
//    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
//    font-family: Montserrat;
//    font-style: normal;
//    font-weight: 400;
//    font-display: swap;
//}
